<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
</head>
<body>
<h1>{{page.title}}</h1>

<ul>
    <li><a href="/">Home</a></li>
    {% for tag in site.tags %}
    <li><a href="/index.html?tag={{tag[0]}}">{{tag[0]}}</a></li>
    {% endfor %}
</ul>

<div class="content">
    {{content}}
</div>

posts
<ul>
    {% for post in site.posts %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% endfor %}
</ul>

<span id="tag">no tag selected</span>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const tag = urlParams.get('tag');
    if (tag != null) {
        document.getElementById("tag").innerHTML = 'tag: ' + tag;
    }
</script>
</body>
</html>
